body {
	overflow-x: hidden;
}

.container {
	margin: 20px auto 0;
	padding-bottom: 15px;
	width: 80vw !important;
}

@media (max-width: 780px) {
	.container {
		width: 90vw !important;
	}
}

@media (max-width: 600px) {
	.container {
		width: 98vw !important;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.submit-button {
	margin: 15px 0 0 0 !important;
}

.product-image {
	width: 100%;
}

.action-panel {
	margin: 10px 0;
}

.action-panel #add-to-cart-button {
	margin: 0 10px 0 0;
}
